<h1 class="page-header">Edit Blog</h1>

<div class="row show-hide-message" *ngIf="message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
  <button [disabled]="processing" type="button" name="button" class="btn btn-success" (click)="goBack()">Go Back</button>

</div>

<form (click)="updateBlogSubmit()" *ngIf="!loading">
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      name="title"
      placeholder="*Blog title"
      class="form-control"
      [(ngModel)]="blog.title"
      [disabled]="processing">
  </div>
  <div class="form-group">
      <label for="body">Body</label>
      <textarea
        type="text"
        name="body"
        rows="8"
        cols="12"
        placeholder="*Blog content"
        class="form-control"
        [(ngModel)]="blog.body"
        [disabled]="processing"></textarea>

      <a [routerLink]="['/delete-blog', blog._id]">
        <button [disabled]="processing" type="button" name="button" class="btn btn-danger">Delete</button>
      </a>
      <button [disabled]="processing" type="button" name="button" class="btn btn-success" (click)="goBack()">Go Back</button>
      <button [disabled]="processing" type="button" name="save" class="btn btn-info" >Save Changes</button>

  </div>


</form>
