<h1 class="page-header">Discussion Feed</h1>
<div class="row show-hide-message" *ngIf="message && newPost">
  <div [ngClass]="messageClass">{{ message }}</div>
</div>

<button type="button" name="button" class="btn btn-warning" *ngIf="!newPost" (click)="newBlogForm()">New Post</button>
<button [disabled]="loadingBlogs" type="button" name="button" class="btn btn-secondary" *ngIf="!newPost" (click)="reloadBlogs()"><span class="fas fa-sync"></span>&nbsp;&nbsp;Reload</button>
<br>
<br>

<!-- New Blog -->
<form [formGroup]="form" (ngSubmit)="onBlogSubmit()" *ngIf="newPost">
  <div class="form-group">
    <label for="title">Title</label>
    <div class="form-group">
      <input
        type="text"
        name="title"
        class="form-control"
        placeholder="*Post Title"
        autocomplete="off"
        formControlName="title"
        [ngClass]="{ 'is-invalid': form.controls.title.dirty && form.controls.title.errors, 'is-valid':
        form.controls.title.valid && !form.controls.title.errors}"
      >
      <div *ngIf="form.controls.title.dirty && form.controls.title.errors" class="invalid-feedback">
          <div *ngIf="form.controls.title.dirty && form.controls.title.errors?.required">Post title is required</div>
          <div *ngIf="(form.controls.title.dirty && form.controls.title.errors?.minlength) || (form.controls.title.dirty && form.controls.title.errors?.maxlength)">Max Length: 50, Min Length: 5</div>
          <div *ngIf="form.controls.title.dirty && form.controls.title.errors?.alphaNumericValidation">Must be a letter or a number</div>
      </div>

    </div>
  </div>
  <div class="form-group">
      <label for="title">Body</label>
      <div class="form-group">
        <textarea
          name="body"
          class="form-control"
          placeholder="*Post Comment"
          cols="80"
          rows="10"
          formControlName="body"
          [ngClass]="{ 'is-invalid': form.controls.body.dirty && form.controls.body.errors, 'is-valid':
          form.controls.body.valid && !form.controls.body.errors}"

        ></textarea>
        <div *ngIf="form.controls.body.dirty && form.controls.body.errors" class="invalid-feedback">
            <div *ngIf="form.controls.body.dirty && form.controls.body.errors?.required">Post body is required</div>
            <div *ngIf="(form.controls.body.dirty && form.controls.body.errors?.minlength) ||
            (form.controls.body.dirty && form.controls.body.errors?.maxlength)">Max Length: 5, Min Length: 500</div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button [disabled]=" processing" class="btn btn-warning" type="reset" (click)="goBack()">Go Back</button>
      <button type="submit" name="button" [disabled]="!form.valid || processing" class="btn btn-success mr-1">Submit</button>
    </div>
</form>

<div *ngIf="!newPost">
  <div class="card border-primary" *ngFor="let blog of blogPosts">
    <div class="card-header text-white bg-primary"><h6>{{ blog.title }}</h6></div>
    <div class="card-body">
      <h6>{{ blog.body }}</h6>
    </div>
    <!-- Footer start -->
    <div class="card-footer">
      <strong>Posted By: </strong>{{ blog.createdBy }}
      <br>
      <strong>Date: </strong>{{ blog.createdAt | date: 'MMM dd, yyyy' }}
      <br>
      <div>
          <i class="far fa-thumbs-up"></i>&nbsp;<strong>: &nbsp;&nbsp;</strong>{{ blog.likes }}
        <br>
        <i class="far fa-thumbs-down"></i>&nbsp;<strong>: &nbsp;&nbsp;</strong>{{ blog.dislikes }}<br>
        <br>
      </div>
      <a *ngIf="username === blog.createdBy" [routerLink]="['/edit-blog/', blog._id ]">
        <button type="button" class="btn btn-info" >Edit</button>
      </a>
      <!-- Likes dropdown -->
      <div class="dropdown">
        <button [disabled]="blog.likedBy.indexOf(username) > -1" type="button" name="button" class="btn btn-success" *ngIf="username !== blog.createdBy" (click)="likeBlog(blog._id)">
          <span><i class="far fa-thumbs-up"></i>&nbsp;</span> Likes: {{ blog.likes}}
        </button>
        <div class="dropdown-content">
            <a [routerLink]="['/user/', liker]" *ngFor="let liker of blog.likedBy">{{ liker}}</a>
          </div>
      </div>
      <!-- Dislikes dropdown -->
      <div class="dropdown">
        <button [disabled]="blog.dislikedBy.indexOf(username) > -1" type="button" name="button" class="btn btn-warning" *ngIf="username !== blog.createdBy" (click)="dislikeBlog(blog._id)">
          <span><i class="far fa-thumbs-down"></i>&nbsp;</span> Dislikes: {{ blog.dislikes }}
        </button>
        <div class="dropdown-content">
          <a [routerLink]="['/user/', disliker]" *ngFor="let disliker of blog.dislikedBy">{{ disliker }}</a>
        </div>
        <a *ngIf="username === blog.createdBy" [routerLink]="['/delete-blog/', blog._id ]">
          <button type="button" class="btn btn-danger">Delete</button>
        </a>

      </div>
    </div>
    <!-- Footer end -->
    <ul class="list-group">
      <li class="list-group-item">
        <button type="button" name="button" class="btn btn-sm btn-info"
          (click)="draftComment(blog._id)" [disabled]="newComment.indexOf(blog._id) > -1" >Post Comment</button>
          <br>
          <br>
          <div *ngIf="newComment.indexOf(blog._id) > -1">
            <form [formGroup]="commentForm">
              <textarea
                name="comment"
                class="form-control"
                id=""
                cols="30"
                rows="10"
                formControlName="comment"
                [ngClass]="{ 'is-invalid': commentForm.controls.comment.dirty && commentForm.controls.comment.errors, 'is-valid':
                commentForm.controls.comment.valid && !commentForm.controls.comment.errors}"
              ></textarea><br>
                <div *ngIf="commentForm.controls.comment.dirty && commentForm.controls.comment.errors" class="invalid-feedback">
                  <div *ngIf="commentForm.controls.comment.errors.required">This field required</div>
                  <div *ngIf="(commentForm.controls.comment.errors.minlength && commentForm.controls.comment.dirty) ||
                  (commentForm.controls.comment.errors.maxlength && commentForm.controls.comment.dirty)">Comments must be at least 1 character, but not exceeding 200.</div><br>
                </div>

              <button [disabled]="!commentForm.valid || processing" type="submit" name="button" class="btn btn-sm btn-info" (click)="postComment(blog._id)">Submit Comment</button>
              <button [disabled]="processing" class="btn btn-sm btn-danger" (click)="cancelSubmit(blog._id)">Cancel</button>
            </form>
          </div>
      </li>
      <li *ngIf="enabledComments.indexOf(blog._id) === -1 &&
      blog.comments?.length > 0" class="list-group-item">
        <span (click)="expand(blog._id)" >

            <div>Show Comments*&nbsp;&nbsp;<i class="fas fa-comment-alt"></i></div>


        </span>
      </li>
      <li *ngIf="enabledComments.indexOf(blog._id) > -1" class="list-group-item">
        <span (click)="collapse(blog._id)" >
          <div>Hide Comments*&nbsp;&nbsp;<i class="fas fa-comment-alt"></i></div>
        </span>
      </li>
      <div *ngIf="enabledComments.indexOf(blog._id) > -1">
        <li *ngFor="let comment of blog.comments" class="list-group-item">
          <strong>{{comment.commentator}}:</strong>&nbsp;&nbsp;{{ comment.comment}}
        </li>
      </div>
    </ul>
  </div>
</div>
