<h1 class="page-header">Edit Blog</h1>

<div class="row show-hide-message" *ngIf="message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
  <button type="button" name="button" class="btn btn-success" (click)="goBack()">Go Back</button>

</div>

<div class="col-md-6" *ngIf="foundBlog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" name="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Confirm</h4>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to proceed to delete?</p>
    </div>
    <div class="modal-footer">
      <button [disabled]="processing" type="button" name="button" class="btn btn-success"
      (click)="deleteBlog()">Yes</button>
     <a routerLink="/blog" > <button [disabled]="processing" type="button" name="button" class="btn btn-danger"
      >Yes</button></a>
    </div>
  </div>
  <div class="card card-secondary">
    <div class="card-header">
      <h3 class="card-title">{{ blog.title }}</h3>
      <div class="card-body">
        {{ blog.body }}
      </div>
      <div class="card-footer">
        <strong>Posted by: </strong> {{ blog.createdBy }}
        <strong>Date: </strong> {{ blog.createdAt | date: 'MMM dd, yyyy' }}
      </div>
    </div>
  </div>
</div>
